[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
minumtium = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
twine = "*"
build = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3"
